.venv/
__pycache__/
.DS_Store
wandb/
.vscode/
.idea/
assets/

/data
/output
/input
/model-finetuned
/ckpt
/log_err
/val

*.tar.gz

experiments/depth/*
experiments/normals/*
!experiments/depth/eval_args/
!experiments/normals/eval_args/

metadata_images_split_scene_v1.csv
